body{
    margin:0px;
    background-color:rgb(204,2,2);
}

#header{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-size:48px;
    margin:25px 0px;
    gap:50px;
}

.title{
    display:flex;
    flex-direction:column;
    align-items:center;
    color:gold;
}

.main{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

#container{
    display:grid;
    background-color:rgb(151,150,150);
    height:600px;
    width:1200px;
    border-radius:15px;
    border:2px;
    border-style:solid;
    border-color:black;
}