body{
    margin:0px;
    background-color:rgb(204,2,2);
}

#header{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-size:48px;
    margin:25px 0px;
    gap:50px;
}

.title{
    display:flex;
    flex-direction:column;
    align-items:center;
    color:gold;
}

.main{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
    align-items:flex-end;
}

#size, #color{
    display:flex;
    justify-content:center;
    color:gold;
    font-weight:bold;
    height:50px;
    width:200px;
    font-size:34px;
}

.colorContainer{
    display:flex;
    
}

#container{
    display:grid;
    background-color:rgb(151,150,150);
    height:600px;
    width:1200px;
    border-radius:15px;
    border:2px;
    border-style:solid;
    border-color:black;
}

input[type='color']{
    -webkit-appearance:none;
    height:50px;
    width:50px;
    border:none;
    background-color:transparent;
}

input[type='color']::-webkit-color-swatch{
    border:none;
    border-radius:50%;
}

#clear{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100px;
    height:50px;
    margin:35px 0px;
    font-size:25px;
    background-color:gold;
    border-color:black;
    border-radius:10%;
}

#clear:hover{
    cursor:pointer;
    background-color:rgb(131, 112, 3);
    border-color:rgb(39, 39, 39);
    color:rgb(24, 24, 24);
}

#buttons{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

#sizeKnob, #colorKnob{
    position:relative;
    height:100px;
    width:100px;
    background-color:white;
    margin: 0px 50px;
    border-radius:50%;
    border:2px;
    border-style:solid;
    border-color:black;
}

#sizeKnob:hover, #colorKnob:hover{
    cursor: pointer;
}



#sizeKnob{
    margin-left:100px;
}

#colorKnob{
    margin-right:100px;
}

.dot{
    position:fixed;
    margin-left:40px;
    margin-top:5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent;
    border-bottom: 20px solid gray;
}