body{
    margin:0px;
    background-color:rgb(204,2,2);
}

#header{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-size:48px;
    margin:25px 0px;
    gap:50px;
}

.title{
    display:flex;
    flex-direction:column;
    align-items:center;
    color:gold;
}

.main{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

#container{
    display:grid;
    background-color:rgb(151,150,150);
    height:600px;
    width:1200px;
    border-radius:15px;
    border:2px;
    border-style:solid;
    border-color:black;
}

#clear{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100px;
    height:50px;
    margin:35px 0px;
    font-size:25px;
    background-color:gold;
    border-color:black;
    border-radius:10%;
}

#buttons{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

#left-knob, #right-knob{
    position:relative;
    height:100px;
    width:100px;
    background-color:white;
    margin: 0px 50px;
    border-radius:50%;
    border:2px;
    border-style:solid;
    border-color:black;
}

#left-knob{
    margin-left:100px;
}

#right-knob{
    margin-right:100px;
}

#left-dot, #right-dot{
    position:relative;
    background-color:rgb(187, 185, 185);
    height:20px;
    width:20px;
    border-radius:50%;
    margin: 5px 0px 0px 37px;
    border:1px;
    border-style:solid;
}